.errorExplanation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 90px;
	background-repeat: no-repeat;
	background-position: 10px top;

	color: #D8000C;
	text-decoration: bold;

	background-color: #FFBABA;
	background-image: url('/images/error.png')
}

tr.par {
	background-color: #FFF8E9;
}
tr.impar {
}