<% title 'Fala aí!'%>
<% subtitle 'Créditos'%>
<p>Desenvolvido por André Paes Rodrigues (@andrenpaes) com a ajuda de Fabrício Lemos (@fabricio_lemos)</p>

<p>A idéia desse projeto surgiu de um grupo formado no <%= link_to 'Workshop', palestra_path(51) %>
  ministrado pelo Daniel Wildt (@dwildt) no Agile Brazil 2011</p>
<p>Componentes do Grupo:</p>
<ul>
  <li><a href="http://twitter/andrenpaes">André Rodrigues</li>
  <li><a href="http://twitter/fabricio_lemos">Fabrício Lemos</li>
  <li><a href="http://twitter/michelamaral">Michel Amaral</li>
  <li><a href="http://twitter/boscoferreira">Bosco Ferreira</li>
  <li><a href="http://twitter/elvisdelima">Elvis de Lima</li>
</ul>